@font-face {
  font-family: "helvetica bold";
  src: url("./font/helvetica-neue-bold.eot"); /* IE9 Compat Modes */
  src: url("./font/helvetica-neue-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/helvetica-neue-bold.otf") format("opentype"), /* Open Type Font */
    url("./font/helvetica-neue-bold.svg") format("svg"), /* Legacy iOS */
    url("./font/helvetica-neue-bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./font/helvetica-neue-bold.woff") format("woff"), /* Modern Browsers */
    url("./font/helvetica-neue-bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica light";
  src: url("./font/helvetica-neue-light.eot"); /* IE9 Compat Modes */
  src: url("./font/helvetica-neue-light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./font/helvetica-neue-light.otf") format("opentype"), /* Open Type Font */
    url("./font/helvetica-neue-light.svg") format("svg"), /* Legacy iOS */
    url("./font/helvetica-neue-light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./font/helvetica-neue-light.woff") format("woff"), /* Modern Browsers */
    url("./font/helvetica-neue-light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
body, html {
  font-family:'helvetica light',sans-serif;
  overflow-x: hidden;
}
.modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-dialog {
  width: 400px;
}
.modal-content {
  min-height:600px;
  border-radius: 100px;
}
.modal-content-custom {
  background-color:transparent;
  border:none;
  box-shadow:none;
}
.body-modal-custom {
  background-color: #fff;
  border: none !important;
  margin: 0px 6px 0px 7px;
  padding-left:20px;
  padding-right:20px;
}
.top-header-custom {
  background: url(../../assets/img/top-popup-login.png)top center/100% no-repeat transparent;
  height: 204px;
  width: 100%;
  border: none;
}
.top-header-custom button.close {
  opacity:1 !important;
}
.top-header-custom button.close span{
  margin: auto 20px auto 30px !important;
  top: 30px !important;
  position: relative !important;
  font-size: 40px !important;
  color: #fff !important;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.information-brand{
  margin-bottom: 100px;
}
.bottom-header-custom {
  background: url(../../assets/img/bottom-popup-login.png)top center/100% no-repeat transparent;
  height: 204px;
  width: 100%;
  border: none;
  margin: 0px 1px;
}
.form-control-custom {
  border-radius:50px;
  box-shadow:none;
  padding: 10px 20px;
  height: auto;
}
.forgot-password {
  float:right;
}
.forgot-password label a {
  color:#0DB1BD;
  font-size:17px;
  font-weight:normal;
  font-style: italic;
}

label.dont-yet {
  color:#666;
  font-size:17px;
  text-align:center;
  font-family:'helvetica light',sans-serif;
  font-weight:400;
  padding:20px 0px;
  font-style: italic;
}
label.dont-yet a {
  color:#0DB1BD;
}
.btn-login {
  background-color:#FDB94A;
  border-radius:60px;
  text-decoration:none;
  border:none;
  text-transform: uppercase;
  color:#fff;
}
.btn-login:hover, .btn-login:active, .btn-login:focus {
  background-color:#FF9327;
  color:#fff
}
.carousel-control-custom {
  background:transparent !important;
}
a {
  cursor: default !important;
}
.header {
  padding: 150px 0px 100px 0px;
}
#top-menu {
  padding: 0px 50px;
  position: fixed;
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.8) !important;
  border-radius: 0;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.sticky.navbar-default .navbar-nav>li>a {
  color:#000 !important;
  padding: 30px 30px !important;
}
.sticky .are-pet {
  padding: 20px 0px !important
}

.sticky .logo-img {
  width: 190px  !important;
}

.sticky + .content {
  padding-top: 102px;
}
.sticky .btn-login-nav {
  background-color:#FDB94A;
  color:#fff
}

.sticky .are-pet p {
  background: #0000006c;
}
/* First Section  */
  .first-section {
    width:100%;
  }
  .img-header {
    position:absolute;
    top:0;
    right:0;
  }
  .img-header{
  background-repeat: no-repeat;
  position: relative !important;
  width: 90%;
  background-size: 100%;
  right: 0;
}
.wave{
    z-index: 0;
    position: absolute;
    top: 0px;
    width: 100%;
}

.wave img{
    width: 100%;
}

.vidio-header{
  width: 90%;
  float: right;
}

/* Second Section  */
  .second-section {
    padding: 200px 0px 100px;
    background: white;
    position: relative;
  }
  .carousel-indicators {
      bottom: -50px !important;
  }
  .carousel-indicators .active {
    background-color: #fdb94a !important;
  }
  .carousel-indicators li {
    background-color:#eee !important;  
  }
/*  Third Section */
  .third-section {
    background:#f5f5f5;
    padding: 120px 0px 0px 0px;
    position: relative;
  }

  .areyouvet-section {
    background:#fff;
    padding: 120px 0px 120px 0px;
    position: relative;
  }

  .third-section::after {
    content: '';
    background: url('../../assets/img/union1.png')center bottom/100% no-repeat #fff;
    height: 250px;
    width: 100%;
    display: block;
  }

/*  Fourth Section */
  .fourth-section {
    position:relative;
    background:url('../../assets/img/bg-dogfeet.png')top center/60% no-repeat transparent;
    padding: 200px 0px 250px 0px;
    background-color: white;
    position: relative;
  }
  .bg-dog-fourthsection img {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
/*  Fifth Section */
  .fifth-section {
    position:relative;
    background:url('../../assets/img/bg-dogfeet.png')top center/60% no-repeat transparent;
    padding: 200px 0px;
    background-color: white;
    position: relative;
  }
  .bg-dog-fifthsection img {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

/*  Sixth Section */
  .sixth-section {
    position:relative;
    background:url('../../assets/img/bg-dogfeet.png')top center/60% no-repeat transparent;
    padding: 200px 0px 200px 0px;
    background-color: white;
    position: relative;
  }
  .bg-dog-sixthsection img {
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
  }
  @media (min-width:1441px) {
    .bg-dog-fourthsection img {
      width:40%
    }
    .bg-dog-fifthsection img {
      width: 35%;
    }
    .fourth-section {
      background: url('../../assets/img/bg-dogfeet.png')top center/50% no-repeat transparent;
    }

  }
/* Seventh Section */
.seventh-section {
  padding:20px 0px 0px 0px;
  background:url('../../assets/img/bg-dogfeet.png')top center/60% no-repeat #0db1bd;
}
.clearfix {
  clear:both
}
nav{
    position: relative;
    z-index: 1;
}




.navbar-default {
    background-color: #ffffff00;
    border-color: #ffffff00;
    color: white;
}

.navbar-brand {
    float: left;
      height: auto; 
    padding: 0px; 
    font-size: 18px;
    line-height: 20px;
}

.navbar-default .navbar-nav>li>a {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family:'helvetica light',sans-serif;
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
      padding: 30px;
}


.are-pet{
  padding: 20px 0px;
}

.are-pet p{
  float: left;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family:'helvetica light',sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
  padding: 8px 26px;
  border-radius: 50px;
  background: #0000001c;
  margin: auto;
  font-weight: lighter;
}

.are-pet span{
  font-size: 18px;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.nav-link{
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family:'helvetica light',sans-serif;
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    padding: 0px 46px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
  padding: 0px 46px !important;
}

.nav-item p{
    color: white;
  font-size: 19px;
  border-radius: 29px;
  background-color: #00000030;
  padding: 3px 20px 8px;
  float: left;
  margin: 0px;
}

.nav-item span{
    font-weight: 500;
}

.logo-img{
  width: 190px;
}

.btn-login-nav{
  font-size: 22px;
  background: white;
  border-radius: 50px;
  padding: 3px 20px;
  font-weight: 600;
  color: black;
  margin: 0px 20px;
}

.header-background{
    position: absolute;
    z-index: 0;
    top: 0px;
}

.img-header img{
  width: 100%;
}

.content-header {
  z-index: 1;
}
.content-header span{
  font-family:'helvetica light',sans-serif;
  font-size: 28px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
}

.header-content{
  position: relative;
  padding-bottom: 20%;
  padding-top: 15%;
}

.vidio-header {
    width: 170%;
    left: -20%;
    position: absolute;
}

.content-item{
}

.content-item .color-bluev3{
  font-family:'helvetica bold',sans-serif;
  font-size: 5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0b1b3f;
  margin-right: 20px;
  margin-bottom: 0px;
}

.content-item .color-blue{
  font-family:'helvetica bold',sans-serif;
  font-size: 5.2vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0b1b3f;
  float: left;
  margin-right: 20px;
  margin-bottom: 0px;
}

.content-item .color-yellow{
  font-family:'helvetica bold',sans-serif;
  font-size: 5.5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fdb94a;
  margin-right: 20px;
  margin-bottom: 0px;
}

.content-item .color-yellowv3{
  font-family:'helvetica bold',sans-serif;
  font-size: 5.5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fdb94a;
  margin-right: 20px;
  margin-bottom: 0px;
}

.content-item .color-yellowv4{
  font-family:'helvetica bold',sans-serif;
  font-size: 5.5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fdb94a;
  margin-right: 20px;
  margin-bottom: 0px;
  float: left;
}

.content-item .color-yellowv2{
  font-family:'helvetica bold',sans-serif;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #fdb94a;
  margin-right: 20px;
  margin-bottom: 0px;
}

.content-item .color-bluev2{
  font-family:'helvetica bold',sans-serif;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0b1b3f;
  float: left;
  margin-right: 20px;
  margin-bottom: 0px;
}

.content-item p{
  font-family:'helvetica light',sans-serif;
  font-size: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #0b1b3f;
  font-weight: 100;
}

.mb-30{
  margin-bottom: 30px;
}
.point-ivet .item-ivet-point img{
  float: left;
  margin: 10px 10px 10px 0px;
}

.point-ivet .item-ivet-point p{
  margin: 0px;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: left;
  color: #0b1b3f;
}

.btn-register{
  background: #fdb94a;
    padding: 0px 50px 5px;
    border: 0px;
    border-radius: 50px;
    font-size: 24px;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d464e;
}

.pad-30{
  padding: 30px;
}


.section-slide-info{
    margin: 250px 0px 100px 0px;
}

.slider-ivet .item-slide{
  position: relative;
}

.slider-ivet .item-slide img{
  width: 100%;
}

.slider-ivet .item-slide .content-info{
    position: absolute;
    top: 0px;
    padding: 50px 110px;
}
.slider-ivet .item-slide .content-info label{
  font-family:'helvetica bold',sans-serif;
  font-size: 8vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #c44560;
}

.slider-ivet .item-slide .content-info p{
  font-family:'helvetica bold',sans-serif;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #0b1b3f;
}


.btn-checkpoint{
  background-color: #0068ba;
  font-family:'helvetica bold',sans-serif;
  color: white;
}


.section-value{
  padding: 0px 0px 100px 0px;
}




.item-value-ivet{
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 3px #80808030;
  padding: 20px;
  background: white;
}

.item-value-ivet img{
  width: 100px;
  margin-bottom: 15px;
}

.item-value-ivet label{
  font-size: 22px;
  font-weight: 700;
  color: #0DB1BD;
}

.item-value-ivet p{
  font-style: italic;
}

.img-backgorund img{
  position: absolute;
  width: 100%;
}

.section-point{
  position: relative;
  margin: 140px 0px 300px;
  background: url(../img/paxpattern.png);
}

.section-point .img-point img{
  width: 100%;
}

.img-point{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
}

.img-point-v2{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
}

.position-relative{
  position: relative;
}

.info-style{
  margin-top: 350px;
  margin-bottom: 200px;
}

.pl-25{
  padding-left: 25%;
}

.noppad{
  padding: 0px
}

.footer-style{
  position: relative;
  border-top: 20px solid #fff;
}

.bg-paxtern{
  background: url(../img/paxpattern.png);
  padding: 200px 80px 100px;
  width: 100%;
  margin: 0px;
  background-color: #0db1bd;
}

.patern{
  position: absolute;
  top: 0px;
  width: 100%;
}

.information-brand img{
  width: 280px
}

.information-sosmed img{
  float: left;
  width: 80px;
  margin-right: 20px;
}

.about{
  font-family:'helvetica bold',sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.item-about{
  font-family:'helvetica light',sans-serif;
  font-size: 23px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.74;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.item-about i{
  float: left;
  padding: 8px 10px 0px 0px;
}

.item-about p{
  font-family:'helvetica light',sans-serif;
  font-size: 23px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 35px;
}

.quicklink label{
  font-family:'helvetica bold',sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.quicklink > ul > li > a{
  font-family:'helvetica light',sans-serif;
  font-size: 23px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  line-height: 40px;
}

.no-type ul {
  list-style-type: none;
  font-family:'helvetica light',sans-serif;
  font-size: 23px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  width: 100%;
  padding: 0px;
}

.linestyle{
  color: #0db1bd;
  border-bottom: solid 19px #ffffff;
  background: #0db1bd;
  position: relative;
  margin: 0px;
  padding: 10px;
}

.copy-wright{
  background: #0db1bd;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-family: 'helvetica light',sans-serif;
}

.point-ivet{
  float: left;
}

.imgareuvet img{
  width: 100%;
  float: left;
}


.mb-0{
  margin-bottom: 0px;
} 

.ml-0{
  margin-right: 0px;
} 

.mr-0{
  margin-left: 0px;
} 

.p-0{
  padding: 0px;
}