@media (min-width: 1200px){
	.container {
	    width: 1024px;
	}
}

@media only screen and (max-width: 768px) {
	.header_white {
	    color: #667e96;
	    background-color: #ffffff;
	    position: relative;
	    margin: auto;
	    right: 0px;
	    top: 0px;
	    height: 100px !important;
	    border-radius: 50px;
	    z-index: 99;
	    border: none; 
	}

}

@media only screen and (max-width: 500px) {
	a.logo {
	    display: inline-block;
	    word-break: break-word;
	    font-size: 24px;
	    position: relative;
	    z-index: 2;
	    padding: 5px 0;
	    right: 45px;
	}
	.chat-ivet img{
		width: 100px;
	}
	.fotter-trm {
	    color: gray;
	    float: left;
	}
	.header_white {
	    color: #667e96;
	    background-color: #ffffff;
	    position: relative;
	    margin: auto;
	    right: 0px;
	    top: 0px;
	    height: 70px !important;
	    border-radius: 50px;
	    z-index: 99;
	    border: none;
	}
}